/*********************  Default-CSS  *********************/

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-ms-file-upload-button {
  cursor: pointer;
}

input[type="file"]::-o-file-upload-button {
  cursor: pointer;
}

input[type="file"],
a[href],
input[type="submit"],
input[type="button"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

::-moz-focus-inner {
  border: 0px solid transparent;
}

::-webkit-focus-inner {
  border: 0px solid transparent;
}

*::-moz-selection {
  color: #fff;
  background: #000;
}

*::-webkit-selection {
  color: #fff;
  background: #000;
}

*::-webkit-input-placeholder {
  color: #333333;
  opacity: 1;
}

*:-moz-placeholder {
  color: #333333;
  opacity: 1;
}

*::-moz-placeholder {
  color: #333333;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #333333;
  opacity: 1;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
  text-decoration: none;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

a,
span,
div a:hover,
div a:active,
button {
  text-decoration: none;
}

*::after,
*::before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.no-list li,
.no-list ul,
.no-list ol,
footer li,
footer ul,
footer ol,
header li,
header ul,
header ol {
  list-style: inside none none;
}

.no-list ul,
.no-list ol,
footer ul,
footer ol,
header ul,
header ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  outline: none;
  color: #555;
}

a:hover {
  color: #000;
}

body .clearfix,
body .clear {
  clear: both;
  line-height: 100%;
}

body .clearfix {
  height: auto;
}

* {
  outline: none !important;
  box-sizing: border-box;
}

ul:after,
li:after,
.clr:after,
.clearfix:after,
.custom-container:after,
.grve-custom-container:after {
  clear: both;
  display: block;
  content: "";
}

body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
  margin-bottom: 0;
}

div select {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div select option {
  font-size: 13px;
  color: #333;
  padding: 2px 5px;
}

img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

body p:empty {
  margin: 0;
  line-height: 0;
}

body p:last-child {
  margin-bottom: 0;
}

p strong {
  font-weight: bold;
}

.a-left {
  text-align: left;
}

.a-right {
  text-align: right;
}

.a-center {
  text-align: center;
}

label em {
  color: #ff0000;
  display: inline-block;
  font-style: normal;
  vertical-align: top;
  margin-left: 5px;
}

.hidden {
  display: none !important;
}

body .custom-container {
  width: 100%;
  max-width: 1528px;
  margin: auto;
  margin-top: 0;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*********************  scroll Hide  *********************/
header {
  backdrop-filter: blur(15px);
}
html.show-menu {
  overflow: hidden;
}

html.show-menu body {
  overflow: hidden;
  height: 100%;
}

/*********************  Default-CSS close  *********************/

/*********************  Gapping  *********************/

/*********************  Gapping close  *********************/

/*********************  Default-CSS  *********************/

/*********************  Common-Css  *******************/

.clr:after,
ul:after,
.clearfix:after,
li:after,
.grve-container:after {
  clear: both;
  display: block;
  content: "";
}

.btn.focus,
.btn:focus {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}

body {
  background: url("../images/body-bg.png") no-repeat;
  background-size: cover;
  margin: 0;
}

/*********************  Common-Css Close  *******************/

/*********************  Header  *******************/

a.nav-link.active {
  display: flex;
  padding: 0.75rem 0.875rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--Primary-Yellow, #bfd900);
  font-weight: 700 !important;
}

div#navbarNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ul.navbar-nav {
  display: flex;
  padding: 0.375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  background: var(--Primary-White, #fff);
  gap: 0.88rem;
}

ul a.nav-link {
  color: var(--Primary-Black, #000);
  font-family: "Product Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 1rem;
  /* 114.286% */
}

ul.navbar-nav {
  margin: auto;
}

a.borderred {
  width: 110px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50px;
}

a.btnblack {
  width: 110px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50px;
  background: black;
  color: white;
  margin-left: 10px;
}

section.heresecrion {
  display: flex;
  align-items: center;
  height: 100vh;
}

ul.navbar-nav a {
  color: black;
}

header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: all 0.5s;
  z-index: 999;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
}

.cursor--hover .cursor-inner {
  transform: scale(0.5);
  opacity: 0;
}

.cursor--hover .cursor-outer {
  transform: scale(1.4);
  border-color: #000;
  opacity: 1;
}

.cursor-move-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: -3px;
}

.cursor-move-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cursor-inner {
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cursor-outer {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  transition: border 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

html:hover .cursor {
  opacity: 1;
}

a {
  transition: border 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav.navbar.navbar-expand-lg {
  padding: 25px 0px;
  transition: all 0.5s;
}

header.fixed .navbar {
  box-shadow: 0px 5px 50px #0000000d;
  padding: 15px 0px;
}

.navbar-toggler {
  display: none;
}

/*********************  Header Close  *******************/

/*********************  Home banner  *******************/
.wrapper {
  overflow-x: hidden;
  position: relative;
}

.heresecrion {
  margin-top: 112px;
}

svg.scroll-process {
  position: absolute;
  bottom: 11vw;
  left: 24vw;
  width: 50vw;
}

.mask {
  width: 0;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  /* gap: 5.69rem; */
}

h1.energy-h1 {
  color: #000;
  font-family: "Franklin Gothic Heavy";
  font-size: 6.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 6.375rem;
  /* 92.727% */
  letter-spacing: -0.275rem;
  width: 25.9rem;
  margin-bottom: 3.31rem;
}

span.energy-span {
  position: relative;
  color: var(--Primary-Yellow, #bfd900);
}

span.energy-span::after {
  content: "";
  position: absolute;
  background: url("../images/enerhy-line.svg") no-repeat;
  background-size: cover;
  width: 180%;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

p.dhs {
  color: #000;
  font-family: "Product Sans Medium";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.5rem;
  /* 140% */
  letter-spacing: -0.05rem;
  margin-bottom: 1rem;
}

p.dhs-para {
  overflow: hidden;
  color: var(--Gray-8, #343a40);
  text-overflow: ellipsis;
  font-family: "Product Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  /* 162.5% */
  /* display: -webkit-box; */
  /* -webkit-box-orient: vertical; */
  /* -webkit-line-clamp: 4; */
  /* align-self: stretch; */
  max-width: 28.7rem;
  margin-bottom: 2rem;
}

a.green-btn {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  background: var(--Primary-Yellow, #bfd900);
  color: var(--Primary-Black, #000);
  text-align: center;
  font-family: "Product Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.02rem;
  width: fit-content;
}

a.green-btn span {
  display: flex;
}

.card-info {
  display: flex;
  width: 16.875rem;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 1rem;
  background: var(--Primary-White, #fff);
  box-shadow: 0px 24px 46px 0px rgba(20, 22, 0, 0.1);
  margin-left: auto;
}

.card-info > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.card-info-main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 1.19rem;
  /* width: -webkit-fill-available; */
  width: 28.75rem;
}

.card-info.card-info2 {
  margin-right: auto;
}

.card-info-vector {
  display: flex;
}

span.vector-green {
  display: flex;
  align-items: baseline;
  margin-top: -2.7rem;
}

.card-info-vector.card-info-vector-black {
  gap: 0.87rem;
  margin-right: auto;
}

.card-info-vector.card-info-vector-black span.vector-green {
  align-items: flex-end;
}

p.card-info-para {
  color: var(--Primary-Black, #000);
  font-family: "Product Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.0375rem;
}

.home-product-main {
  display: flex;
  flex-direction: column;
  gap: 2.31rem;
}

.home-product-main svg {
  margin: auto;
}

.you-may {
  position: relative;
}

.you-may::after {
  content: "";
  position: absolute;
  background: url("../images/like-border.svg") no-repeat;
  width: 100%;
  height: 0.6875rem;
  left: 0;
  bottom: -1rem;
}

.may-like-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.may-like-pro {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.may-like-pro-inner {
  display: flex;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
  gap: 1.25rem;
  width: 100%;
}

h2.may-like-head {
  color: #000;
  font-family: "Product Sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  /* 133.333% */
  letter-spacing: -0.06rem;
  max-width: 16.1rem;
  margin: 0;
}

svg.may-like-pro-svg {
  position: absolute;
  left: 0;
}

img.may-like-pro-img {
  z-index: 99;
  margin: 0px;
  position: relative;
  top: -10px;
  margin-left: 1rem;
}

.may-like-pro-inner > div {
  z-index: 9;
}

p.funktion-may-like-para {
  color: var(--Primary-Black, #000);
  font-family: "Product Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

p.price {
  color: var(--Primary-Black, #000);
  /* text-align: center; */
  font-family: "Product Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02rem;
  margin-bottom: 0.25rem;
  margin-top: 0;
}

p.may-like-des {
  color: var(--Gray-7, #495057);
  /* text-align: center; */
  font-family: "Product Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.015rem;
  margin-top: 0;
}

.green-rate {
  margin-bottom: 0.75rem;
}

.owl-carousel {
  display: block !important;
}

.convenient-details {
  text-align: center;
}

h5.convenient-head {
  color: var(--Primary-Black, #000);
  text-align: center;
  font-family: "Product Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

p.convenient-para {
  color: var(--Gray-7, #495057);
  text-align: center;
  font-family: "Product Sans Light";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0.75rem;
}

a.convenient-link {
  color: var(--Primary-Yellow, #bfd900);
  text-align: center;
  font-family: "Product Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.card .card-bg {
  background-color: white;
  border-radius: 20px;
  inset: 14rem 0 0.1rem 0;
  position: absolute;
  z-index: 0;
  /* height:  18.9375rem; */
  /* border: 0; */
}

.card .convenient-card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  padding-top: 0;
}

img.convenient-img {
  border-radius: 1.875rem;
}

.may-like {
  padding: 2rem 0;
}

section.convenient-sec {
  padding: 5.37rem 0;
}

.convenient-title {
  text-align: center;
  padding-bottom: 3.37rem;
}

h1.title {
  color: #000;
  text-align: center;
  font-family: "Franklin Gothic Demi";
  font-size: 4.25rem;
  font-style: italic;
  font-weight: 600;
  line-height: 4.5rem; /* 105.882% */
  letter-spacing: -0.17rem;
  margin-bottom: 0.5rem;
}

p.title-dec {
  color: var(--Gray-8, #343a40);
  text-align: center;
  font-family: "Product Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 144.444% */
}

h1.title .title-span {
  color: var(--Primary-Yellow, #bfd900);
}

.owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  width: 113%;
  top: 50%;
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

button.owl-prev,
button.owl-next {
  border-radius: 3.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  background: #fff !important;
  padding: 0.625rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.owl-prev {
  margin-right: auto;
}

.testimonials-inner {
  position: relative;
  background: #fff;
  padding: 1rem;
  border-radius: 1.875rem;
}

.testimonials-inner::after {
  content: "";
  position: absolute;
  background: url("../images/quotes.svg") no-repeat;
  background-size: cover;
  /* width: 100%; */
  /* height: 100%; */
  left: 1.28rem;
  top: 3rem;
  width: 2.01969rem;
  height: 1.78781rem;
}

.testimonials-star img {
  display: flex !important;
  width: 1rem !important;
  height: 1rem;
}

.testimonials-star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  gap: 0.19rem;
}

p.testimonials-para {
  padding: 0.5rem;
}

.testimonials-card {
  border-radius: 1.875rem;
  background: #fff;
  /* box-shadow: 0px 24px 56px 0px rgba(20, 22, 0, 0.05); */
}

img.testimonials-img {
  border-radius: 1.875rem 1.875rem 0 0;
}

h6.testimonials-head {
  color: #000;
  text-align: center;
  font-family: "Product Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.025rem;
  margin-bottom: 0.5rem;
}

p.testimonials-para {
  color: var(--Gray-6, #868e96);
  text-align: center;
  font-family: "Product Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 156.25% */
  letter-spacing: 0.03125rem;
  padding-top: 1.5rem;
}

section.testimonials {
  padding-bottom: 7rem;
}

.owl-dots {
  display: block !important;
}

footer {
  background: #0c0e00;
  padding: 3rem 6.25rem;
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-link-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

p.footer-des {
  color: var(--Primary-White, #fff);
  font-family: "Product Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.0375rem;
  max-width: 19.5rem;
  margin-top: 1rem;
}

.footer-social {
  display: flex;
  gap: 1.25rem;
}

a.footer-a {
  color: var(--Primary-White, #fff);
  font-family: "Product Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0375rem;
  text-align: left;
}

.copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 2.38rem;
  margin-top: 3rem;
}

p.copyright-para {
  color: var(--Primary-White, #fff);
  font-family: "Product Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.0375rem;
  text-align: center;
}

.container {
  display: flex;
  width: 300vw;
}

.heresecrion {
  width: 100vw;
}
/*********************  Home banner Close  *******************/

/*********************  Content  *******************/

/*********************  Content Close  *******************/

/*********************  Footer  *******************/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/*********************  Footer Close  *******************/

/*********************  Inner-Pages  *******************/

/*********************  Inner-Pages Close  *******************/

/*********************  Owl  *******************/

/*********************  Owl Close  *******************/

/*********************  Fancy-box  *******************/

/*********************  Fancy-box Close  *******************/
